<h1>My Budget</h1>

<% if user_signed_in? %>
  <% @categories.each do |category| %>
    <div class="category">
      <div class="category-info">
        <h2><%= category.name %></h2>
        <i class="<%= category.icon %>"></i>
        <p>Total: <%= category.expenses.sum(:amount) %></p>
      </div>
      <%= link_to "View expenses", category_expenses_path(category), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Add a New Category", new_category_path, class: "btn btn-success" %>

<% else %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
<% end %>

