<section class="signPage">
<div class="header">
  <%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, :back, class: "btn" %>
  <h2>Log In</h2>
  <%= link_to "Next", categories_path, class: "btn" %>
</div>

<div class="form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="bottom">
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</section>

<style>
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 8%;
    background: #3778c2;
    color: aliceblue;
    gap: 3rem;

  }

  .header a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
  }

  .form {
    margin-top: 5%;
  }

  #user_name {
    height: 45px;
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
</style>