<h1><%= @category.name %></h1>

<div class="category-info">
  <h2><%= @category.name %></h2>
  <i class="<%= @category.icon %>"></i>
  <p>Total: <%= number_to_currency(@total_amount) %></p>
</div>

    <% @expenses.each do |expense| %>
      <tr>
        <h3><%= expense.date.strftime("%m/%d/%Y") %></h3>
        <h4><%= number_to_currency(expense.amount) %></h4>
      </tr>
    <% end %>

<%= link_to "Add a New Expenses", new_category_expenses_path(@category), class: "btn btn-primary" %>

<%= link_to "< Back", root_path, class: "btn btn-secondary" %>
