<%= link_to "Back", :back, class: "btn btn-secondary" %>
<%= form_for(current_user, url: destroy_user_session_path, method: :delete, html: { class: "nav-link" }) do |f| %>
              <%= f.submit "Logout", class: "btn-logout" %>
            <% end %>

<h1>Categories</h1>
<% if @categories.any? %>
  <ul class="categories">
    <% @categories.each do |category| %>
      <li class="category">
        <% if category.icon.present? %>
         <%= fa_icon category.icon.downcase, alt: "Category icon" %>
        <% end %>
        <h3><%= category.name %></h3>
        <h3>Total: <%= category.expenses.collect(&:amount).sum %></h3>
        <button><a href="<%= category_expenses_path(category) %>">View Expenses</a></button>
        <%= link_to 'Add a New Expense', new_category_expense_path(category) %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a New Category', new_category_path %>
<% else %>
  <p>No categories found. Click the button below to add a new category.</p>
  <%= link_to 'Add a New Category', new_category_path %>
<% end %>
