

<%= form_for @category do |f| %>
<div>
 <%= link_to "Back", :back, class: "btn btn-secondary" %>
<h1>New Category</h1>
<div class="actions">
    <%= f.submit "Create Category" %>
  </div>
</div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.file_field :icon, accept: 'image/*' %>
  </div>
  
<% end %>

