<section class="container">
<div class="header">
  <%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, categories_path, class: "back" %>
  <h1>Details</h1>
  <%= form_for(current_user, url: destroy_user_session_path, method: :delete, html: { class: "nav-link" }) do |f| %>
    <%= f.button type: :submit, class: "btn-logout logoutBtn" do %>
      <%= content_tag :i, "", class: "fa-solid fa-right-from-bracket" %>
    <% end %>
  <% end %>
</div>
<div class="content">
<h2>Expenses for <%= @category.name %></h2>
<% if @expenses.any? %>
  <p class="total">Total Amount: $<%= sprintf('%.2f', @total_amount) %></p>
  <table class="expenses-table">
  <thead>
    <tr>
      <th>Expense</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td>$<%= sprintf('%.2f', expense.amount) %></td>
        <td>
          <%= button_to 'Delete', category_expense_path(@category, expense), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p class="msg">No expenses found.</p>
<% end %>
</div>
</section>